.mark_container {
    position: relative;
    display: flex;
    width: max-content;
}

.mark_container_shadow {
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: green;
}

.star {
    position: relative;
    margin: 0px 5px 0 0 ;
    width: 55px;
    height: 55px;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
}

.star:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: url('./star.png') center / cover no-repeat;
    background-size: 70%;
}

.star_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: green;
} 

.control {
    margin: 10px 0;
}

p {
    color: red;
}